



.dashboard-page {
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "side header"
        "side main";
    background-color: #c3c5ca;
    font-family: "Poppins", sans-serif;
    color: #1c1f23;
}

.dashboard-header {
    background-color: #fff;
    grid-area: header;
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    font-family: "League Spartan";
    font-size: 40px;
    font-weight: 800;
    margin-left: 20px;
}

.dashboard-sidebar {
    background-color: #1c1f23;
    grid-area: side;
    margin: 20px;
    margin-right: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: #c3c5ca;
    color: #1c1f23;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
}

.dashboard-main {
    background-color: #c3c5ca;
    padding: 20px;
    grid-area: main;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "c1 c1 c4"
        "c2 c3 c4";
    gap: 20px;
    overflow: auto; /* Ensure content overflow is handled */
    height: calc(100vh - 140px); /* Adjust the height to fit within the page */
}

.card-weight, .card-user, .card-training, .card-latest-match, .card-general-matches {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow: auto; /* Ensure content overflow is handled */
}

.card-user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    padding: 20px;
    grid-area: c1;
}

.card-latest-match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-area: c2;
}

.card-general-matches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-area: c3;
}

.card-training {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 10px;
    grid-area: c4;
}

.inner-card-user, .inner-card-position, .inner-card-user-info, .inner-card-focus, .inner-card-training {
    background-color: #c3c5ca;
    border-radius: 10px;
    margin: 20px;
    overflow: auto; /* Ensure content overflow is handled */
}

.inner-card-position, .inner-card-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hello-user, .position {
    font-size: 20px;
    font-weight: 600;
}

.inner-card-user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.user-info-icon {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    filter: invert(1);
}

.user-info-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
    margin-right: 10px;
}

.user-info {
    font-size: 20px;
    font-weight: 600;
    background-color: #4535C1;
    color: #36C2CE;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
}

.inner-card-focus {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    align-items: center;
    gap: 10px   ;
}

.focus {
    font-size: 20px;
    align-self: center;
    justify-self: center;
}

.stats {
    display: flex;
    justify-content: center;
}

.mini-header {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;

}


@media (max-width: 925px) {
    .dashboard-main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,300px);
        grid-template-areas: initial;
    }
}
