.loginTitle {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #77E4C8;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4535C1;
    flex-direction: column;
    width: 100%;
}

.loginInput {
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginButton {
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #77E4C8;
    color: #fff;
    cursor: pointer;
}

.loginText {
    color: #77E4C8;
    margin-top: 1rem;
}

.loginText a {
    color: #478CCF;
    text-decoration: none;
}