.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c3c5ca;
    flex-direction: column;
    width: 100%;
}

.registerTitle {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.registerInput {
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registerButton {
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.registerButton:hover {
    background-color: #0056b3;
}


.registerText {
    text-align: center;
    margin-top: 20px;
}