.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4535C1;
    flex-direction: column;
    width: 100%;
}

.registerTitle {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #77E4C8;
}

.registerInput {
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registerButton {
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #77E4C8;
    color: #fff;
    cursor: pointer;
}

.registerButton:hover {
    background-color: #61b9a3;
}


.registerText {
    text-align: center;
    margin-top: 20px;
    color: #77E4C8;
}

.registerText a {
    color: #478CCF;
    text-decoration: none;
}